@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primarycolor: rgb(238, 238, 238);
  --secondary-color: rgb(27, 27, 27);
  --tercerycolor: rgb(159, 159, 159);
  --bg-gradiente-bbw: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(20, 20, 20) 49%, rgb(34, 34, 34) 100%);
  --bg-gradiente-body: linear-gradient(90deg, rgb(17, 17, 17) 0%, rgb(16, 16, 16) 49%, rgb(17, 17, 17) 100%);
  --colorspan: #3038d3;
  --colorspan-gradient: linear-gradient(90deg, #3038d3 0%, #030dc1 79%, #010884 100%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-gradiente-body);
  font-family: 'Montserrat';
  font-weight: 300;
}

.container {
  width: 90dvw;
  margin: 0 auto;
}

.header-main {
  background: var(--bg-gradiente-bbw);
}
.header-main .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.header-main .nav-content #btn-mobile {
  display: none;
}
.header-main .nav-content .brand {
  color: var(--primarycolor);
  font-size: 1.7em;
  text-decoration: none;
  transition-property: color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
.header-main .nav-content .brand:hover {
  color: var(--colorspan);
}
.header-main .nav-content .brand:hover > span {
  color: var(--primarycolor);
}
.header-main .nav-content .brand .brand-span {
  font-size: 1rem;
  color: var(--colorspan);
  transition-property: color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
.header-main .nav-content .header-navbar {
  display: flex;
  gap: 1.1em;
}
.header-main .nav-content .header-navbar .header-navbar-item {
  list-style-type: none;
}
.header-main .nav-content .header-navbar .header-navbar-item .header-navbar-link {
  text-decoration: none;
  color: var(--primarycolor);
  font-size: 1em;
  padding: 20px 0;
  transition-property: letter-spacing, color;
  transition-duration: 1s;
}
.header-main .nav-content .header-navbar .header-navbar-item .header-navbar-link:hover {
  letter-spacing: 1.5px;
  color: var(--tercerycolor);
}

#inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45em;
}
#inicio .inicio-i {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#inicio .inicio-i .inicio-i-t {
  color: var(--primarycolor);
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: .8em;
  gap: .3em;
  width: 100%;
  font-size: 2.3em;
}
#inicio .inicio-i .inicio-i-t h2 {
  font-weight: 400;
  margin: 0;
}
#inicio .inicio-i .inicio-i-t span {
  color: var(--colorspan);
  font-weight: 700;
  margin: 0;
}
#inicio .inicio-i .inicio-i-t p {
  color: rgba(231, 231, 231, 0.668);
  font-weight: 400;
  font-size: .6em;
  margin: 0;
}
#inicio .inicio-i .inicio-i-actions {
  display: flex;
  gap: 1em;
  width: 100%;
}
#inicio .inicio-i .inicio-i-actions a:is(.downloadcv) {
  color: var(--primarycolor);
  padding: .8em 1em;
  background: var(--colorspan-gradient);
  border-radius: 20px 30px;
  border: 1px solid white;
  text-decoration: none;
  margin: 0;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  text-align: center;
  transition-property: font-size;
  transition-duration: 1s;
  transition-timing-function: ease;
}
#inicio .inicio-i .inicio-i-actions a:is(.downloadcv):hover {
  font-size: .95em;
}
#inicio .inicio-i .inicio-i-actions a:not(.downloadcv) {
  text-align: center;
  color: var(--primarycolor);
  padding: .8em 1em;
  border-radius: 20px 30px;
  border: 1px solid white;
  text-decoration: none;
  margin: 0;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  text-align: center;
  transition-property: font-size;
  transition-duration: 1s;
  transition-timing-function: ease;
}
#inicio .inicio-i .inicio-i-actions a:not(.downloadcv):hover {
  font-size: .95em;
}
#inicio .inicio-img {
  display: flex;
  align-items: right;
  justify-content: center;
}
#inicio .inicio-img a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#inicio .inicio-img a img {
  width: 28dvw;
  border-radius: 5dvw 8dvw 1dvw 15dvw;
  transition-property: width, border-radius;
  transition-duration: .5s;
  transition-timing-function: ease;
}
#inicio .inicio-img a img:hover {
  width: 29dvw;
  border-radius: 8dvw 5dvw 15dvw 1dvw;
}

#sobremim {
  color: var(--primarycolor);
  text-align: center;
  line-height: 30px;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sobremim .sobremim-info {
  margin-bottom: 2em;
}
#sobremim .sobremim-info h2 {
  font-size: 2em;
  font-weight: 400;
  transition: 1s;
}
#sobremim .sobremim-info h2:hover {
  letter-spacing: 2px;
}
#sobremim .sobremim-info p {
  font-size: 1.2em;
}
#sobremim .sobremim-info .s-sobremim {
  text-decoration: underline var(--colorspan);
  transition-duration: 1s;
}
#sobremim .sobremim-info:hover .s-sobremim {
  text-decoration-color: var(--primarycolor);
}
#sobremim .sobremim-habilidades {
  margin-bottom: 3em;
}
#sobremim .sobremim-habilidades h2 {
  font-weight: 400;
  font-size: 2em;
  transition: 1s;
}
#sobremim .sobremim-habilidades h2:hover {
  letter-spacing: 2px;
}
#sobremim .sobremim-habilidades .sobremim-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
#sobremim .sobremim-habilidades .sobremim-cards .box {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 7em;
  height: 7em;
  box-sizing: border-box;
  background-color: var(--colorspan);
  transition-property: width, height, border-radius, background-color;
  transition-duration: .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px 20px;
  border-bottom: 2px solid var(--primarycolor);
}
#sobremim .sobremim-habilidades .sobremim-cards .box:hover {
  width: 8em;
  height: 8em;
  border-radius: 20px 5px;
  background-color: #1f28d1;
}
#sobremim .sobremim-habilidades .sobremim-cards .box:hover:hover p {
  font-size: 1.1em;
}
#sobremim .sobremim-habilidades .sobremim-cards .box p {
  margin: 0;
  transition-property: font-size;
  transition-duration: .5s;
}
#sobremim .sobremim-habilidades .sobremim-cards .box img {
  max-width: 50%;
}

#projetos {
  margin-bottom: 3em;
}
#projetos h2 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 2em;
  margin: 0;
  transition: 1s;
}
#projetos h2:hover {
  letter-spacing: 2px;
}
#projetos .todosprojetos {
  margin: 0 auto;
}
#projetos .todosprojetos > p {
  margin: 1em 0;
  text-align: center;
  color: var(--primarycolor);
  font-size: 1.2em;
  font-weight: 350;
}
#projetos .todosprojetos .projetos-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  width: 100%;
  margin: 0 auto;
}
#projetos .todosprojetos .projetos-cards .projetos-box {
  margin: 0 auto;
  width: 25em;
  cursor: pointer;
  transition-property: width;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
#projetos .todosprojetos .projetos-cards .projetos-box:hover {
  width: 26em;
}
#projetos .todosprojetos .projetos-cards .projetos-box .cover {
  background-image: url(../images/cafe.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  width: 100%;
  height: 18em;
  border-radius: 5px 5px 0 0;
  border-bottom: 5px solid var(--primarycolor);
  transition-property: border-bottom;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}
#projetos .todosprojetos .projetos-cards .projetos-box .cover:hover {
  border-bottom: 5px solid red;
}
#projetos .todosprojetos .projetos-cards .projetos-box .descricao {
  color: white;
}

#contatos h2 {
  color: var(--primarycolor);
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}
#contatos .contatos-box {
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 0 auto 5em;
}
#contatos .contatos-box a {
  text-decoration: none;
  border: none;
}
#contatos .contatos-box a .contatos-box-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
  height: auto;
  padding: 2em;
}
#contatos .contatos-box a .contatos-box-cards img {
  width: 3em;
  margin: 0 0 1em;
  background-color: white;
  padding: 1em;
  border-radius: 20px 30px 5px 30px;
}
#contatos .contatos-box a .contatos-box-cards h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0 .2em;
}
#contatos .contatos-box a .contatos-box-cards p {
  margin: 0;
  color: var(--primarycolor);
  font-size: 1em;
}

footer {
  background: var(--bg-gradiente-bbw);
  color: var(--primarycolor);
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .header-main .nav-content .brand {
    font-size: 1.3rem;
  }

  .header-main .nav-content {
    padding: 1.05em;
  }

  .header-main .nav-content.active .header-navbar {
    height: calc(100vh - 4.1em);
    visibility: visible;
  }

  .header-main .nav-content #btn-mobile {
    display: block;
  }

  .header-main .nav-content .header-navbar {
    display: block;
    position: absolute;
    width: 100%;
    top: 3.1em;
    right: 0;
    background: var(--bg-gradiente-bbw);
    height: 0;
    transition: .6s;
    z-index: 100000;
    visibility: hidden;
    overflow-y: hidden;
  }

  .header-main .nav-content .header-navbar .header-navbar-item {
    margin: 1.5rem 0 1.5rem 2.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.304);
    padding-bottom: 10px;
  }

  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid;
    color: var(--primarycolor);
  }
  #hamburguer::after, #hamburguer::before {
    content: " ";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .2s;
    position: relative;
  }

  .nav-content.active #hamburguer {
    border-top-color: transparent;
  }
  .nav-content.active #hamburguer::before {
    transform: rotate(135deg);
  }
  .nav-content.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #inicio {
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    height: 40em;
  }
  #inicio .inicio-i .inicio-i-t {
    color: var(--primarycolor);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: .8em;
    gap: .3em;
    width: 100%;
    font-size: 6dvw;
  }
  #inicio .inicio-i .inicio-i-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #inicio .inicio-i .inicio-i-actions a:is(.downloadcv) {
    max-width: 50%;
    font-size: 2.5dvw;
  }
  #inicio .inicio-i .inicio-i-actions a:not(.downloadcv) {
    max-width: 50%;
    font-size: 2.5dvw;
  }
  #inicio .inicio-img a img {
    width: 40dvw;
    box-shadow: 0.5px 0.5px 10px rgba(255, 255, 255, 0.416);
    transition-duration: 1s;
  }
  #inicio .inicio-img a img:hover {
    width: 40dvw;
    box-shadow: 0.5px 0.5px 10px var(--colorspan);
  }
}

/*# sourceMappingURL=style.css.map */
